<nav class='flex items-center justify-between flex-wrap bg-teal p-6'>
  <div class='flex items-center flex-no-shrink text-white mr-6'>
    <span class='font-semibold text-xl tracking-tight'>GitHub Client</span>
  </div>
  <div class='w-full block flex-grow lg:flex lg:items-center lg:w-auto'>
    <div class='text-sm lg:flex-grow'>
      {{#link-to 'search' (query-params account=null) class='block no-underline mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4'}}
        Search
      {{/link-to}}
    </div>
  </div>
</nav>

<div class='h-full w-screen bg-white'>
  {{outlet}}
</div>
